@page
@model IndexModel
<!DOCTYPE html>
<!--Speical thanks to all internet sources used throughout the development of this site.-->
<!-- All credits go to their respective owners. Bootstrap is awesome, period.-->
<html lang="en">
  <head>
    <meta charset="UTF-8">
        <link href="~/lib/css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a href = "/">
	<img src="~/lib/img/logo.png" class="img-fluid" alt="LOGO"></img>
	</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Menu<span class="sr-only">(current)</span></a>
      </li>
    </ul>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<ul class="navbar-nav mr-auto">
      <li class="nav-item active">
	<a href = "/Cart">
	<img src="@Model.cartLogo" class="img-fluid" alt="CART"></img>
</a>	
	</a>
		</li>	
		</nav>
  </div>
</nav>

<!-- Blue header line-->
<div class="bg-primary text-white text-center">
  <h2><em>Kashikoi Menu</em></h2>
</div>

<form method="POST" action="/Cart">
@Html.AntiForgeryToken();
<input type="submit" value="Add to cart" />
<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Description</th>
    <th>Availability</th>
    <th>Price</th>
  </tr>
  @foreach (var item in @Model.menuItems)
  {
    string inp = "checkbox";
    if(!@item.isAvailable)
    {
      inp = "hidden";
    }
      <tr>
        <td><input type="@inp" name="@item.id"></td>
        <td>@item.name</td>
        <td>@item.description</td>
        <td>@item.isAvailable</td>
        <td>@item.price</td>  
      </tr>
  }
</table>
</form>

</body>
</html>